@import "./normalize.css";

:root {
  --color-primary: #e2a355;
  --color-secondary: #7f7770;
  --color-body: #54524f;
  --color-text-alternative: #fff;
  --color-border: #ccc;
}

/* Typhography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Times New Roman", Times, serif;
  font-size: 2.7rem;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 6.2rem;
}

h3 {
  font-size: 5.3rem;
}

p {
  margin-top: 0;
}

/* Buttons */

.btn {
  border-radius: 30px;
  border: 0;
  font-size: 2.2rem;
  margin: 1rem 0;
  padding: 1.2rem 5rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-text-alternative);
}

.btn--primary:hover {
  background: #ebaa58;
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-text-alternative);
}

.btn--secondary:hover {
  background: #877f77;
}

.btn--accent {
  background: #54524f;
  color: var(--color-text-alternative);
}

.btn--accent:hover {
  background: #5a5855;
}

.btn--outline {
  background: #fefefd;
  color: var(--color-secondary);
  font-weight: 800;
}

.btn--outline:hover {
  background: var(--color-secondary);
  color: var(--color-text-alternative);
}

.btn--small {
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Input */

.input {
  border-radius: 30px;
  border: 1px solid var(--color-border);
  color: #8b8a88;
  font-size: 2.5rem;
  padding: 1rem 2.5rem;
  outline: 0;
}
