@import "./normalize.css";

:root {
  --color-primary: #e2a355;
  --color-secondary: #7f7770;
  --color-header: #e2a355;
  --color-body: #54524f;
  --color-text-alternative: #fff;
  --color-border: #ccc;
  --border-radius: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: dodgerblue;
}

/* Typhography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Times New Roman", Times, serif;
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Tree branch  */
.branch-right,
.branch-left {
  position: relative;
}

.branch-left .branch-left--small {
  position: absolute;
  left: -7%;
  bottom: 30%;
  opacity: 0.07;
  transform: rotateX(180deg);
}

.branch-left .branch-left--large {
  position: absolute;
  left: -1%;
  bottom: 2%;
  opacity: 0.07;
  height: 512px;
  transform: rotateX(180deg);
}

.branch-right .branch-right--small {
  position: absolute;
  right: -7%;
  bottom: 30%;
  opacity: 0.07;
  transform: rotate(180deg);
}

.branch-right .branch-right--large {
  position: absolute;
  right: 0;
  bottom: 2%;
  opacity: 0.07;
  height: 512px;
  transform: rotate(180deg);
}

/* Ripped container */

.ripped {
  position: relative;
  overflow: hidden;
}

.ripped .ripped-image--top {
  transform: rotate(180deg) translateY(30%);
  height: 30%;
  width: 100%;
  position: absolute;
  top: -5%;
}

.ripped .ripped-image--bottom {
  width: 100%;
  position: absolute;
  transform: translateY(-30%);
  height: 30%;
  bottom: -23%;
}

/* Buttons */

.btn {
  border-radius: 30px;
  border: 0;
  font-size: 2.2rem;
  margin: 1rem 0;
  padding: 1.2rem 5rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-text-alternative);
}

.btn--primary:hover {
  background: #ebaa58;
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-text-alternative);
}

.btn--secondary:hover {
  background: #877f77;
}

.btn--accent {
  background: #54524f;
  color: var(--color-text-alternative);
}

.btn--accent:hover {
  background: #5a5855;
}

.btn--outline {
  background: #fefefd;
  color: var(--color-secondary);
  font-weight: 800;
}

.btn--outline:hover {
  background: var(--color-secondary);
  color: var(--color-text-alternative);
}

.btn--small {
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Input */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: #8b8a88;
  font-size: 2.5rem;
  padding: 1rem 2.5rem;
  outline: 0;
}

.input--smaller {
  font-size: 1.6rem;
}

.input--darker {
  background: #c3bfbc;
}

/* Input Group */

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--color-border);
}

.input-group--darker {
  background: #c3bfbc;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  width: 0;
}

.input-group .btn {
  margin: 1px;
}

.input-group--darker .icon {
  margin-right: 20px;
}

/* Icons */
.icon {
  height: 40px;
  width: 40px;
}

.icon--small {
  height: 25px;
  width: 25px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.icon-container--primary {
  background: var(--color-primary);
  fill: var(--color-text-alternative);
}

.icon-container--secondary {
  background: var(--color-secondary);
  fill: var(--color-text-alternative);
}

/* Cards */

.card {
  border-radius: 15px;
  box-shadow: 0 0 40px var(--color-border);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.45s;
}

.card:hover {
  transform: scale(1.05);
}

.card__header {
  background: var(--color-secondary);
}

.card__body {
  padding: 2rem 3rem;
}

.card__body {
  background: var(--color-secondary);
  color: var(--color-text-alternative);
}

.card__image {
  width: 100%;
  object-fit: fill;
}

.card__heading {
  margin-top: 0;
  color: var(--color-text-alternative);
}

@media screen and (min-width: 768px) {
  .card__heading {
    font-size: 2.7rem;
  }

  .card__body {
    font-size: 1.8rem;
  }
}

/* Blocks */

.block {
  padding: 5rem 2rem;
}

.block__heading {
  margin-top: 0;
}

.block--primary {
  background: var(--color-primary);
  color: var(--color-text-alternative);
}

.block--primary .block__heading {
  color: var(--color-text-alternative);
}

.block--secondary {
  background: var(--color-secondary);
  color: var(--color-text-alternative);
}

.block--secondary .block__heading {
  color: var(--color-text-alternative);
}

/* Collapsible */

.collapsible {
  padding: 0 2rem;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsible__heading {
  margin: 0;
}

.collapsible__chevron {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(180deg);
}

.collapsible--expanded .collapsible__content,
.collapsible--expanded + .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Promotions */

.promotion {
  padding: 7rem 4rem;
}

.promotion--primary {
  background: #deb37e;
  color: var(--color-text-alternative);
}

.promotion--secondary {
  background: #7f7770;
  color: var(--color-text-alternative);
}

@media screen and (min-width: 600px) {
  .promotion__heading {
    font-size: 4rem;
  }

  .promotion__description {
    font-size: 2.2rem;
  }

  .promotion .btn {
    font-size: 2rem;
  }
}

/* Quotes */

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.quote__description {
  margin-bottom: 3.5rem;
  color: #595959;
}

.quote__signature {
  font-weight: 800;
  color: #3f3f3f;
}

.quote::before {
  content: open-quote;
  color: #3f3f3f;
  font-size: 8rem;
  height: 7rem;
}

@media screen and (min-width: 768px) {
  .quote {
    font-size: 1.7rem;
  }

  .quote__description {
    margin-bottom: 2rem;
  }

  .quote::before {
    font-size: 6rem;
    height: 6rem;
  }
}

/* Navigation bar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  flex-wrap: wrap;
}

.nav__list {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  transition: none;
}

.nav__logo {
  display: flex;
  justify-content: flex-start;
}

.nav__logo svg {
  width: 10rem;
  height: 6rem;
  fill: var(--color-secondary);
}

.nav__menu-icon {
  display: flex;
  padding: 0;
  fill: var(--color-secondary);
  cursor: pointer;
}

.nav__input-group {
  width: 16rem;
  cursor: pointer;
}

.nav__input-group .input {
  font-weight: bold;
}

.nav__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--color-secondary);
}

.nav__item > a {
  color: var(--color-secondary);
}

.nav__item > a:hover {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__toggler {
  opacity: 0.8;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav .collapsible--expanded.nav__toggler {
  box-shadow: 0 0 3px 0.2px #666;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__logo {
    flex-grow: 1;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border-bottom: 0;
    padding-right: 3rem;
  }

  .nav__input-group {
    order: 1;
  }
}
