<section class="shape subscribe">
  <div class="container subscribe__content">
    <h2 class="subscribe__heading">Title Here</h2>
    <p class="subscribe__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit numquam
      tempora perspiciatis possimus! Doloribus, ipsum!
    </p>
    <div class="input-group">
      <input type="text" class="input" placeholder="Your email" />
      <button class="btn btn--accent">Subscribe</button>
    </div>
  </div>
  <img
    class="shape-feature--top"
    src="./images/shapeFeature_top.png"
    alt="Image by rawpixel.com"
  />
  <img
    class="shape-subscribe--bottom"
    src="./images/shapeSubscribe_bottom.png"
    alt="Image by rawpixel.com"
  />
</section>
