<section class="block branch action">
  <header class="action__header">
    <h2 class="action__heading">Let's Go</h2>
    <p class="action__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam eum soluta
      impedit autem architecto!
    </p>
  </header>
  <div class="grid grid--1x3 action__content">
    <div class="card card--secondary">
      <header class="card__header">
        <picture>
          <source type="image/webp" srcset="images/action_img1.webp 1x" />
          <source type="image/png" srcset="images/action_img1.png 1x" />
          <img
            class="card__image"
            src="./images/action_img1.png"
            alt="hiker's image standing on mountain"
          />
        </picture>
      </header>
      <div class="card__body">
        <h3 class="card__heading">Lorem, ipsum.</h3>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing...
        </p>
      </div>
    </div>
    <div class="card card--secondary">
      <header class="card__header">
        <picture>
          <source type="image/webp" srcset="images/action_img2.webp 1x" />
          <source type="image/png" srcset="images/action_img2.png 1x" />
          <img
            class="card__image"
            src="./images/action_img2.png"
            alt="hiker's image standing on mountain"
          />
        </picture>
      </header>
      <div class="card__body">
        <h3 class="card__heading">Lorem, ipsum.</h3>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing...
        </p>
      </div>
    </div>
    <div class="card card--secondary">
      <header class="card__header">
        <picture>
          <source type="image/webp" srcset="images/action_img3.webp 1x" />
          <source type="image/png" srcset="images/action_img3.png 1x" />
          <img
            class="card__image"
            src="./images/action_img3.png"
            alt="hiker's image standing on mountain"
          />
        </picture>
      </header>
      <div class="card__body">
        <h3 class="card__heading">Lorem, ipsum.</h3>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing...
        </p>
      </div>
    </div>
  </div>
  <button class="btn btn--secondary btn--large action__button">
    Show More
  </button>
  <img class="branch-left" src="./images/branch.png" alt="" />
</section>
