<section class="container block">
  <article class="grid grid--1x2 promotion-block">
    <picture>
      <source type="image/webp" srcset="./images/promo-img1.webp 1x" />
      <source type="image/jpg" srcset="./images/promo-img1.jpg 1x" />
      <img
        class="card__image"
        src="./images/promo-img1.jpg"
        alt="hiker's image standing on mountain"
      />
    </picture>
    <div class="promotion promotion--secondary">
      <h2 class="promotion__heading">Discount up to 50% All Excursions</h2>
      <p class="promotion__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde fuga
        eos similique excepturi, quam facere? Quidem cupiditate quos repellat.
      </p>
      <button class="btn btn--large btn--primary">Read More</button>
    </div>
  </article>
  <article class="grid grid--1x2 promotion-block">
    <picture>
      <source type="image/webp" srcset="./images/promo-img2.webp 1x" />
      <source type="image/jpg" srcset="./images/promo-img2.jpg 1x" />
      <img
        class="card__image"
        src="./images/promo-img2.jpg"
        alt="hiker's image standing on mountain"
      />
    </picture>
    <div class="promotion promotion--primary">
      <h2 class="promotion__heading">January's Promo: Buy 1 Get 1 Free!</h2>
      <p class="promotion__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde fuga
        eos similique excepturi, quam facere? Quidem cupiditate quos repellat.
      </p>
      <button class="btn btn--large btn--primary">Read More</button>
    </div>
  </article>
</section>
