<section class="branch testimonial">
  <div class="container testimonial__content">
    <div class="grid grid--1x3">
      <div class="testimonial__card">
        <h3 class="testimonial__heading">Lorem, ipsum.</h3>
        <p class="testimonial__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe
          labore provident dolore cupiditate ut autem.
        </p>
      </div>
      <div class="testimonial__card">
        <h3 class="testimonial__heading">Lorem, ipsum.</h3>
        <p class="testimonial__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe
          labore provident dolore cupiditate ut autem.
        </p>
      </div>
      <div class="testimonial__card">
        <h3 class="testimonial__heading">Lorem, ipsum.</h3>
        <p class="testimonial__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe
          labore provident dolore cupiditate ut autem.
        </p>
      </div>
    </div>
    <div class="quote">
      <p class="quote__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iure
        voluptates similique libero quia esse, perferendis et quae autem vero.
      </p>
      <p class="quote__signature">Lorem, ipsum.</p>
    </div>
  </div>
  <img class="branch-right" src="./images/branch.png" alt="" />
</section>
