<section class="container block">
  <article class="grid grid--1x2 promotion-block">
    <picture>
      <source
        type="image/jpg"
        srcset="
          images/spenser-sembrat-GgMDeYAzc68-unsplash.jpg    1x,
          images/spenser-sembrat-GgMDeYAzc68-unsplash@2x.jpg 2x,
          images/spenser-sembrat-GgMDeYAzc68-unsplash@3x.jpg 3x
        "
      />
      <img
        class="card__image"
        src="./images/spenser-sembrat-GgMDeYAzc68-unsplash.jpg"
        alt="hiker's image standing on mountain"
      />
    </picture>
    <div class="promotion promotion--secondary">
      <h2 class="promotion__heading">Discount up to 50% All Excursions</h2>
      <p class="promotion__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde fuga
        eos similique excepturi, quam facere? Quidem cupiditate quos repellat.
      </p>
      <button class="btn btn--primary">Show More</button>
    </div>
  </article>
  <article class="grid grid--1x2 promotion-block">
    <picture>
      <source
        type="image/jpg"
        srcset="
          images/stephen-leonardi-UxGw8Q2Tygw-unsplash.jpg    1x,
          images/stephen-leonardi-UxGw8Q2Tygw-unsplash@2x.jpg 2x,
          images/stephen-leonardi-UxGw8Q2Tygw-unsplash@3x.jpg 3x
        "
      />
      <img
        class="card__image"
        src="./images/stephen-leonardi-UxGw8Q2Tygw-unsplash.jpg"
        alt="hiker's image standing on mountain"
      />
    </picture>
    <div class="promotion promotion--primary">
      <h2 class="promotion__heading">January's Promo: Buy 1 Get 1 Free!</h2>
      <p class="promotion__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde fuga
        eos similique excepturi, quam facere? Quidem cupiditate quos repellat.
      </p>
      <button class="btn btn--primary">Show More</button>
    </div>
  </article>
</section>
