<section class="container hero ripped">
  <div class="block hero__content">
    <h1 class="block__heading hero__heading--primary">It's time for Hiking</h1>
    <h3 class="hero__heading--secondary">Loremipsum dolor</h3>
    <button class="btn btn--outline btn--small">Read More</button>
    <p class="hero__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis rerum
      impedit repellat natus accusamus, officia ut.
    </p>
  </div>
  <img
    class="ripped-image--top"
    src="./images/ripped-min.png"
    alt="Image by rawpixel.com"
  />
  <img
    class="ripped-image--bottom"
    src="./images/ripped-min.png"
    alt="Image by rawpixel.com"
  />
</section>
