<section class="block branch-left ripped feature">
  <div class="feature__content">
    <h2 class="feature__heading">Hiking in the mountains</h2>
    <p class="feature__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum optio
      veritatis, eaque ullam saepe dolores nostrum distinctio architecto
      inventore fuga tempore, expedita quas nemo? Veniam?
    </p>
    <svg class="branch-left--large">
      <use xlink:href="/images/sprite.svg#branch"></use>
    </svg>
    <img
      class="ripped-image--top"
      src="./images/ripped-min.png"
      alt="Image by rawpixel.com"
    />
    <img
      class="ripped-image--bottom"
      src="./images/ripped-min.png"
      alt="Image by rawpixel.com"
    />
  </div>
</section>
