<div class="collapsible ">
    <header class="collapsible__header">
      <h3 class="collapsible__heading">Item 1</h3>
      <div class="icon-container icon-container--primary ">
        <svg class="icon icon--small collapsible__chevron">
          <use xlink:href="../images/sprite.svg#chevron"></use>
        </svg>
      </div>
    </header>
    <div class="list collapsible__content">
      <li>MenuItem1</li>
      <li>MenuItem2</li>
      <li>MenuItem3</li>
      <li>MenuItem4</li>
    </div>
    </svg>
  </div>
  <div class="collapsible ">
    <header class="collapsible__header">
      <h3 class="collapsible__heading">Item 1</h3>
      <div class="icon-container icon-container--primary ">
        <svg class="icon icon--small collapsible__chevron">
          <use xlink:href="../images/sprite.svg#chevron"></use>
        </svg>
      </div>
    </header>
    <div class="list collapsible__content">
      <li>MenuItem1</li>
      <li>MenuItem2</li>
      <li>MenuItem3</li>
      <li>MenuItem4</li>
    </div>
    </svg>
  </div>