<nav class="nav">
  <div class="nav__logo-container">
    <a href="/"><img class="nav__logo" src="./images/logo.png" alt="" /></a>
  </div>
  <div class="input-group input-group--darker nav__input-group">
    <input type="text" class="input input--smaller input--darker" />
    <svg class="icon icon--small icon--secondary">
      <use xlink:href="../images/sprite.svg#search"></use>
    </svg>
  </div>
  <div class="nav__menu-icon nav__toggler collapsible">
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#menu"></use>
    </svg>
  </div>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">Menu</a></li>
    <li class="nav__item"><a href="#">Our Story</a></li>
    <li class="nav__item"><a href="#">Contact Us</a></li>
  </ul>
</nav>
